* {
    --main-text-color: white;
}

#header {
    background-color: white;
}


/*-------------------Home page--------------------*/


body {
    background-color: black;
}

#email-div-title {
    color: var(--main-text-color);
}

#email-rectangle {
    background-color: #C4C4C4;
}


/*-------------------Product video page--------------------*/

#product-left h2, p {
    color: var(--main-text-color);
}






/*-------------------Product card page--------------------*/