* {
    font-size: 16px;
    --h1-weight: 500;
    --h1-font: "Times New Roman", ;
    --h1-font-size: 4.209rem;

    --h2-weight: 400;
    --h2-font: "Times New Roman";
    --h2-font-size: 3.157rem;

    --p-weight: 400;
    --p-font: "Times New Roman";
    --p-font-size: 1.333rem;
}

h1 {
    font-weight: var(--h1-weight);
    font-family: var(--h1-font);
    font-size: var(--h1-font-size);
}

h2 {
    font-weight: var(--h2-weight);
    font-family: var(--h2-font);
    font-size: var(--h2-font-size);
}

p {
    font-weight: var(--p-weight);
    font-family: var(--p-font);
    font-size: var(--p-font-size);
}